<li id="sun_sign">
  <%= link_to sun_sign_posts_path do %>
    <i class="fa fa-sun" aria-hidden="true"></i> Find a sun sign
  <% end %>
</li>


<li id="rising_sign">
  <%= link_to rising_sign_posts_path do %>
    <i class="fas fa-arrow-up" aria-hidden="true"></i> Find a rising sign
  <% end %>
</li>

<li id="moon_sign">
  <%= link_to moon_sign_posts_path do %>
    <i class="fas fa-moon" aria-hidden="true"></i> Find a moon sign
  <% end %>
</li>